section.action
    div.action__background
        div.container
            div.row.end-lg.start-xs 
                div.col-lg-12 
                    h2.action__title.action__title--bigtitle Notre conciergerie s’occupe de tout
                    p.action__text La gestion de votre location saisonnière clé en main :
            div.row 
                div.col-lg-2 
                    div.action__img 
                    h3.action__title Création et optimisation de votre annonce Airbnb
                div.col-lg-2 
                    div.action__img 
                    h3.action__title Remises des clés
                div.col-lg-2 
                    div.action__img 
                    h3.action__title Draps et linge de maison fournis
                div.col-lg-2 
                    div.action__img 
                    h3.action__title Sélection des voyageurs et assistance 7j/7
                div.col-lg-2 
                    div.action__img 
                    h3.action__title Ménage complet et maintenance
                

