extends ./partials/layout.pug

block head
    title Accueil
    link(rel="stylesheet" href="styles/styles.scss")

block content
    
    include ./partials/service.pug
    include ./partials/action.pug 
    include ./partials/stats.pug
    include ./partials/comments.pug
    include ./partials/head.pug